# Load required modules

In [ ]:
# MongoDB
from pymongo import MongoClient
from pymongo.database import Database

from pprint import pprint

import pandas as pd

# Document Store Database Structure

<img src="exercise.png">

## Exercise 4.1 <img src="mongodb.png" width=120 align="right">

### Connect to a cluster provided by MongoDB

In [ ]:
# to be deleted before push!
connection_string = "xxx"

client = MongoClient(connection_string)

### Show available databases

In [ ]:
# take a look at the available databases
client.list_database_names()

### Connect to a database (e.g. mflix)

In [ ]:
mflix = Database(client, 'mflix')  # connect to the mflix database

### Show collection names

In [ ]:
mflix.list_collection_names()

## Understand the structure of JSON documents in the mflix database

### Take a look at the first three documents (JSON-form)
You can use <code>limit(no_of_docs)</code> to limit the number of documents being retrieved by a cursor.<br>
Furthermore, please note that we imported the <code>pprint</code>-method which can be used for "pretty printing" JSON documents. Just call <code>pprint(doc)</code> instead of <code>print(doc)</code>.

In [ ]:
cursor = mflix.movies.find().limit(3)

for doc in cursor:
    pprint(doc)

You can also pass the whole cursor (as a <code>list</code>) to a pandas dataframe for a list view of the data. Please note that nested structures cannot be represented easily this way.

In [ ]:
cursor = mflix.movies.find().limit(3)
pd.DataFrame(list(cursor))

# CRUD (with exercises)
Take a look at: https://docs.mongodb.com/manual/reference/operator/query/

In [ ]:
# this is a helper function that improves our query calls

def execute_query_return_df(query={}, projection=None, limit=10, collection=mflix.movies):
    if projection:
        cursor = collection.find(query, projection).limit(limit)
    else:
        cursor = collection.find(query).limit(limit)
    return pd.DataFrame(list(cursor))

## Read only the fields "title" and "cast", suppress "_id" (limit 10)

In [ ]:
query = {}
projection = {"title":1, "cast":1, "_id":0}
limit = 10

execute_query_return_df(query, projection, limit)

## Comparison Query Operators

- \$gt: values greater than specified value
- \$gte: values greater than or equal specified value
- \$lt: values less than specified value
- \$lte: values less than or equal specified value
- \$ne: values that are not equal to the specified value
- \$in: values that match any specified value in a provided lists
- \$nin: values that are not any specified value in a provided lists

### Find all movies which were produced after 2014 (limit 10)

In [ ]:
query = {"year" : {"$gt" : 2014}}

projection = { "cast":1, "title":1, "year":1, "_id":0}

execute_query_return_df(query)

### Find all movies which were produced in any year except 2014 (limit 10)

In [ ]:
query = {"year" : {"$ne" : 2014}}

projection = { "cast":1, "title":1, "year":1, "_id":0}

execute_query_return_df(query, projection)

### Find all movies which were produced in 2010, 2012, or 2014
Rely on the "in" operator.

In [ ]:
query = {"year" : {"$in" : [2010, 2012, 2014]}}

projection = { "cast":1, "title":1, "year":1, "_id":0}

execute_query_return_df(query, projection)

## Logical Query Operators
- \$and: joins query clauses with a logical AND (returns all documents that match all clauses)
- \$not: inverts the effect of a query (returns all documents that do not match the query expression)
- \$or: joins query clauses with a logical OR (returns all documents that match one of the clauses)
- \\$nor: combines \\$or and \\$not

### Find all movies that were produced after 2000 (included) and before 2005 (included) - limit 10
#### Explicit AND

In [ ]:
gte_2000 = { "year" : {"$gte" : 2000} }
lte_2015 = { "year" : {"$lte" : 2005} }
query = {"$and" : [gte_2000, lte_2015]}

projection = { "cast":1, "title":1, "year":1, "_id":0}

execute_query_return_df(query, projection)

#### Implicit AND

In [ ]:
query = { "year" : { "$gte" : 2000, "$lte" : 2005 } }


execute_query_return_df(query, projection)

### Find all movies that were produced after 2000 but not in 2005 - limit 10

In [ ]:
gt_2000 =  { "year" : {"$gte" : 2000} }
not_2005 = { "year" : {"$not" : {"$eq" : 2005} } }
query = {"$and": [gt_2000, not_2005]}

projection = { "cast":1, "title":1, "year":1, "_id":0}

execute_query_return_df(query, projection)

## Element query operators
- \$exists: matches documents that have the specified field in the JSON 
- \$type: matches documents in which the specified field has a specific type

### Find all documents for which the field runtime exists / does not exist

In [ ]:
query = {"runtime" : {"$exists" : True}}

projection = { "cast":1, "title":1, "year":1, "runtime":1, "_id":0}

execute_query_return_df(query, projection)

In [ ]:
query = {"runtime" : {"$exists" : False}}

projection = { "cast":1, "title":1, "year":1, "runtime":1, "_id":0}

execute_query_return_df(query, projection)

### Find all documents for which the field viewerRating has the type "double" (=1)

In [ ]:
query = {"viewerRating" : {"$type" : 1}}

projection = { "cast":1, "title":1, "year":1, "viewerRating":1, "_id":0}

execute_query_return_df(query, projection)

<img src="exercise.png">

# Exercise 4.2 <img src="mongodb.png" width=120 align="right">

In [ ]:
# to be deleted before push!
connection_string_atlas = "xxx"

client_atlas = MongoClient(connection_string_atlas)

In [ ]:
mw243 = Database(client_hwglu, 'mw243_654321')  # connect to the mw243 database

### Alternative

In [ ]:
# to be deleted before push!
host = "XXX"
user = "XXX"
password = "XXX"
connection_string_hwglu = "XXX"

client_hwglu = MongoClient(connection_string_hwglu)
mw243 = Database(client_hwglu, user)  # connect to the mw243 user database

In [ ]:
query = {}

projection = {}

execute_query_return_df(query, projection, collection=mw243.restaurants)

## Task 1
Write a MongoDB query to display all the documents in the collection restaurants.

In [ ]:
query = {}

projection = {}

execute_query_return_df(query, projection, limit=10000, collection=mw243.restaurants)

## Task 2
Write a MongoDB query to display the fields restaurant_id, name, borough and cuisine for all the documents in the collection restaurants.

In [ ]:
query = {}

projection = {"restaurant_id":1, "name":1, "borough":1, "cuisine":1}

execute_query_return_df(query, projection, limit=10, collection=mw243.restaurants)

## Task 3
Write a MongoDB query to display the fields restaurant_id, name, borough and cuisine, but exclude the field \_id for all the documents in the collection restaurants.

In [ ]:
query = {}

projection = {"_id":0, "restaurant_id":1, "name":1, "borough":1, "cuisine":1}
# alternative
projection = {"_id":False, "restaurant_id":True, "name":True, "borough":True, "cuisine":True}

execute_query_return_df(query, projection, limit=10, collection=mw243.restaurants)

## Task 4
Write a MongoDB query to display the fields restaurant_id, name, borough and zip code, but exclude the field \_id for all the documents in the collection restaurants.

In [ ]:
query = {}

projection = {"_id":False, "restaurant_id":True, "name":True, "borough":True, "address.zipcode":True}

execute_query_return_df(query, projection, limit=10, collection=mw243.restaurants)

## Task 5
Write a MongoDB query to display all the restaurants which are in the borough Bronx.

In [ ]:
query = { "borough":"Bronx"}

projection = {}

execute_query_return_df(query, projection, limit=10, collection=mw243.restaurants)

## Task 6
Write a MongoDB query to display the first 5 restaurants which are in the borough Bronx.

In [ ]:
query = { "borough":"Bronx"}

projection = {}

execute_query_return_df(query, projection, limit=5, collection=mw243.restaurants)

## Task 7
Write a MongoDB query to display the next 5 restaurants after skipping first 5 which are in the borough Bronx.

In [ ]:
# this is a helper function that improves our query calls

def execute_query_return_df(query={}, projection=None, limit=10, skip=0, collection=mflix.movies):
    if projection:
        cursor = collection.find(query, projection).skip(skip).limit(limit)
    else:
        cursor = collection.find(query).skip(skip).limit(limit)
    return pd.DataFrame(list(cursor))

In [ ]:
query = { "borough":"Bronx"}
execute_query_return_df(query, skip=5, collection=mw243.restaurants)

In [ ]:
query = { "borough":"Bronx"}

projection = {}

#execute_query_return_df(query, projection, limit=5, collection=mw243.restaurants)
cursor = mw243.restaurants.find(query).skip(5).limit(10)
#cursor = mw243.restaurants.find(query).limit(10)

pd.DataFrame(list(cursor))

### Task 8
Write a MongoDB query to find the restaurants who achieved a score more than 90.

In [ ]:
query = { "grades.score": { "$gt" : 90 }}

execute_query_return_df(query, collection=mw243.restaurants)
# array check is an OR in this case

### Task 9
Write a MongoDB query to find the restaurants that achieved a score, more than 80 but less than 100.

#### Explicit AND

In [ ]:
query = { "$and" : [
            {"grades.score" : { "$gt" : 80 } },
            {"grades.score" : { "$lt" : 100} }
        ]
}

execute_query_return_df(query, collection=mw243.restaurants)
# array check is an OR in this case

#### Implicit AND

In [ ]:
query = {"grades.score" : { "$gt" : 80 , "$lt" : 100} }
        
execute_query_return_df(query, collection=mw243.restaurants)
# array check is an OR in this case

### Task 10
Write a MongoDB query to find the restaurants which locate in latitude value less than -95.754168.

In [ ]:
query = { "address.coord.0" : { "$lt" : -95.754168 } }
        
execute_query_return_df(query, collection=mw243.restaurants)

### Task 11
Write a MongoDB query to find the restaurants that do not prepare any cuisine of 'American' and their grade score more than 70 and latitude less than -65.754168.

In [ ]:
query = { 
    "$and" : [
        {"cuisine" : { "$ne": "American "} },
        {"grades.score" : { "$gt" : 70 } },
        {"address.coord.0" : { "$lt" : -65.754168 } }
        ]
}
        
execute_query_return_df(query, collection=mw243.restaurants)

<img src="exercise.png">

# Exercise 4.3 <img src="mongodb.png" width=120 align="right">

## Task 1: all documents

In [ ]:
query = { }
        
execute_query_return_df(query, collection=mw243.inventory)

## Task 2: all documents that exactly match an array (including its order)

In [ ]:
query = { "tags" : ["red", "blank"] }
        
execute_query_return_df(query, collection=mw243.inventory)

## Task 3: all documents that match an array (not order sensitive and further elements allowed)

In [ ]:
query = { "tags" : { "$all" : ["red", "blank"] } }
        
execute_query_return_df(query, collection=mw243.inventory)

In [ ]:
query = { "tags" : { "$in" : ["red", "blank"] } }
        
execute_query_return_df(query, collection=mw243.inventory)

<img src="exercise.png">

# Remaining Tasks of Exercise 4.2 <img src="mongodb.png" width=120 align="right">

## Task 9: Write a MongoDB query to find the restaurants that achieved a score, more than 80 but less than 100.

In [ ]:
query = { "grades" : { "$elemMatch" : {"score" : {"$gt" : 80, "$lt" : 100}} }
        }
#execute_query_return_df(query, collection=mw243.restaurants)
pprint(list(mw243.restaurants.find(query)))

In [ ]:
query = { "grades.score" : {"$gt" : 80, "$lt" : 100}} 
        
#execute_query_return_df(query, collection=mw243.restaurants)
pprint(list(mw243.restaurants.find(query)))

<img src="exercise.png">

# Exercise 4.4 <img src="mongodb.png" width=120 align="right">

In [ ]:
# to be deleted before push!
connection_string = "XXX"

client = MongoClient(connection_string)

weather_db = Database(client, "100YWeatherSmall")
citibike_db = Database(client, "citibike")
video_db = Database(client, "video")

In [ ]:
weather_db.list_collection_names()

In [ ]:
citibike_db.list_collection_names()

In [ ]:
video_db.list_collection_names()

In [ ]:
# pymongo: distinct values --> db.collection.find().distinct('item')

### Task 1: Which are the distinct usertypes in the collection citybike.trips?

In [ ]:
citibike_db.trips.distinct("usertype")

### Task 2: Inspect the schema of the data 100YWeatherSmall.data collection - wind field

In [ ]:
pprint(list(weather_db.data.find({}).limit(3)))

### Task 3: How many documents have the key tripduration set to 0? Ignore documents that do not have the key set!

In [ ]:
query = { "$and": [
        {"tripduration" : { "$exists" : 1} },
        {"tripduration" : None }
    ]
    }
#execute_query_return_df(query, collection=citibike_db.trips)

pprint(list(citibike_db.trips.find(query)))

### Task 4: Which query is correct?
The following two queries yield the format which is asked for.

In [ ]:
pprint(list(video_db.movies.find({"year": 1964}, {"title":1,"_id":0}).limit(10)))

### Task 5: How many movies have these criteria?
- The cast includes either of the following actors: "Jack Nicholson", "John Huston". 
 - Remember the $in operator!
- The viewerRating is greater than 7. 
- The mpaaRating is "R".

In [ ]:
query = {
    "$and" : [
        { "mpaaRating" : "R" },
        { "viewerRating" : {"$gt" : 7} },
        { "cast" : { "$in" : ["Jack Nicholson", "John Huston"] } }
    ]
}

#execute_query_return_df(query, collection=video_db.movies, limit=10)
len(list(video_db.movies.find(query)))