# Load required modules

In [ ]:
# MongoDB
from pymongo import MongoClient
from pymongo.database import Database
import pandas as pd

# PostgreSQL
import psycopg2  # handles database connection to postgres db
import pandas.io.sql as sqlio  # we'll use this for improved query presentation

# Connect to the MongoDB Atlas Cluster <img src="mongodb.png" width=120 align="right">

In [ ]:
# get your connection string from atlas and set the password
connection_string = ""

client = MongoClient(connection_string)
mw243 = Database(client, 'mw243')  # connect to the mw243 database

# Connect to the relational database <img src="postgres.png" width=40 align="right">

In [ ]:
# get this from the templates folder
# username and password are provided in the lecture

# Insert a JSON document to a new database mw243 (collection users)

In [ ]:
# note: this is redundant - we already added "sue" via NoSQLBooster
doc = {
    'name' : 'sue',
    'age' : 26,
    'status' : 'A',
}

result = mw243.users.insert_one(doc) # insert the document into the collection users which is automaticall created
result.inserted_id  # get the id of the new document to see if everything is fine

<img src="exercise.png">

# Exercise 3.1a <img src="mongodb.png" width=120 align="right">
Add three further users with the same schema, i.e. name, age, and status.

In [ ]:
# adapt the dictionary "doc"
doc = {}


result = mw243.users.insert_one(doc) 
result.inserted_id  # if you receive an ID, everything went fine

In [ ]:
# adapt the two dictionaries within the list "docs"
docs = [{}, {}]

result = mw243.users.insert_many(docs) 
result.inserted_ids # if you receive two IDs, everything went fine

## Check insertion of documents

In [ ]:
cursor = mw243.users.find()

df = pd.DataFrame(list(cursor))  # convert to a dataframe for better visualization
df

# Exercise 3.1b <img src="postgres.png" width=40 align="right">
Create a table <code>users</code> in your schema <code>mw240_XXXXXX</code> in the postgres database!<br>
Please note: we set the schema as default when connecting (see above), so you don't have to explicitly set the schema. Just make sure that the parameter <code>search_path</code> is set to <code>mw240_XXXXXX</code> (with XXXXXX = your matriculation number).

## Table creation<img src="postgres.png" width=40 align="right">

In [ ]:
sql = """
PUT YOUR SQL CODE HERE
"""

cur = conn.cursor()
try:
    cur.execute(sql)
except Exception as e:
    print("Error creating the table: {}".format(e))

conn.commit()

# Insert<img src="postgres.png" width=40 align="right">

In [ ]:
sql = """
PUT YOUR SQL CODE HERE
"""

cur = conn.cursor()
try:
    cur.execute(sql)
except Exception as e:
    print("Error inserting into table: {}".format(e))

conn.commit()

## Check insert<img src="postgres.png" width=40 align="right">

In [ ]:
# Select all elements from table users
sql = """
SELECT * FROM users
"""

dat = sqlio.read_sql_query(sql, conn)
dat

# Exercise 3.1c <img src="mongodb_to_postgres.png" width=200 align="right">
We now want to copy all documents from our MongoDB collection <code>mw243.users</code> to the PostgreSQL table <code>users</code>. Please note: we assume that all documents have the keys "name", "age", and "status" (and only these three key-value pairs!).

## Loop through the pymongo cursor object and insert into the relational database<img src="mongodb_to_postgres.png" width=120 align="right">

In [ ]:
# put your code here

## Check insertion of all documents<img src="postgres.png" width=40 align="right">

In [ ]:
# Select all elements from table users
sql = """
SELECT * FROM users
"""

dat = sqlio.read_sql_query(sql, conn)
dat

# Exercise 3.1d <img src="postgres_to_mongodb.png" width=200 align="right">
We now want to copy a single row our PostgreSQL table <code>users</code> to the MongoDB collection mw243.users<br>
Preparation: insert the following users:
- name <code>steve</code>, age <code>33</code>, status <code>D</code> 
- name <code>helen</code>, age <code>21</code>, status <code>D</code>

## Insert users table<img src="postgres.png" width=40 align="right">

In [ ]:
sql = """
PUT YOUR SQL CODE HERE
"""

cur = conn.cursor()
try:
    cur.execute(sql)
except Exception as e:
    print("Error inserting into table: {}".format(e))

conn.commit()

## Check insertion of status 'D'-users in table users<img src="postgres.png" width=40 align="right">

In [ ]:
# Select all elements from table users
sql = """
SELECT * FROM users
"""

dat = sqlio.read_sql_query(sql, conn)
dat

## Programmatically transfer status 'D' rows from PostgreSQL to MongoDB<img src="postgres_to_mongodb.png" width=120 align="right">

In [ ]:
# put your code here

## Check insertion of documents in MongoDB<img src="mongodb.png" width=120 align="right">

In [ ]:
cursor = mw243.users.find()

df = pd.DataFrame(list(cursor))  # convert to a dataframe for better visualization
df

# Cleaning up / Resetting the Status
## Use this to delete / reset the MongoDB collection

In [ ]:
result = mw243.users.delete_many({})
result.deleted_count

## Use this to empty the PostgreSQL table

In [ ]:
sql = """
DELETE FROM users
"""

cur = conn.cursor()
try:
    cur.execute(sql)
except Exception as e:
    print("Error deleting from table: {}".format(e))

conn.commit()

## Use this to drop the PostgreSQL table

In [ ]:
sql = """
DROP TABLE users
"""

cur = conn.cursor()
try:
    cur.execute(sql)
except Exception as e:
    print("Error dropping from table: {}".format(e))

conn.commit()

# Exercise 3.2

## Filtering documents with MongoDB<img src="mongodb.png" width=120 align="right">

In [ ]:
# update the dictionary "filt" to filter the relevant documents only
filt = {}

cursor = mw243.users.find(filt)

df = pd.DataFrame(list(cursor))  # convert to a dataframe for better visualization
df

## Filtering rows in SQL<img src="postgres.png" width=40 align="right">

In [ ]:
sql = """
PUT YOUR SQL CODE HERE
"""

dat = sqlio.read_sql_query(sql, conn)
dat

# Exercise 3.3

## Updating documents with MongoDB<img src="mongodb.png" width=120 align="right">

In [ ]:
# update the dictionary filt to select only "sue"
filt = {}

# update the dictionary referenced by the key "$set" to updated sue's age
update = {"$set" : {}}
result = mw243.users.update_one(filt, update)

result.modified_count  # if this is 1 then your query is correct

# Exercise 3.4

## Deleting documents with MongoDB<img src="mongodb.png" width=120 align="right">

In [ ]:
filt = {"age": {"$gt":30}}
result = mw243.users.delete_many(filt)

result.deleted_count  # this should be 2